{{#if visible}}
  {{#liquid-tether
    to='enable-repo'
    target=target
    attachment='bottom center'}}
    <div class="tooltip warning">
      Something went wrong.<br>
      We will fix it shortly.
    </div>
  {{/liquid-tether}}
{{/if}}
