<div class="navigation-tools">
  {{#if session.isAuthenticated}}
  <div class="button-highlight -red">
    <input
      class="button-red"
      type="button"
      value="Logout"
      {{action (route-action 'logout')}}
    >
  </div>
  {{else}}
  <div class="button-highlight">
    <input
      class="button-green"
      type="button"
      value="Login"
      {{action (route-action 'login')}}
    >
  </div>
  {{/if}}
</div>
