<div class="list">
  {{#if (is-pending allOrgs)}}
    <div class="loading-spinner"></div>
  {{/if}}
  {{#if (is-fulfilled allOrgs)}}
    {{#power-select
      options=allOrgs
      selected=(await selected)
      searchField=searchField
      searchPlaceholder="Type here to search"
      placeholder="Select an organization"
      onchange=(action 'select')
      searchEnabled=(await willEnableSearch)
      as |org|}}
        <img src={{org.avatar_url}}>
        <span class="name">{{org.name}}</span>
    {{/power-select}}
  {{/if}}
</div>
