<div class="list">
  {{#if (is-pending repos)}}
    <div class="loading-spinner"></div>
  {{/if}}
  {{#if (is-fulfilled repos)}}
    {{#power-select
      options=repos
      searchField=searchField
      searchPlaceholder="Type here to search"
      placeholder="Select a repository"
      onchange=(action 'select')
      searchEnabled=(await willEnableSearch)
      as |repo|}}
        <img src={{repo.avatar_url}}>
        <span class="name">{{repo.full_name}}</span>
    {{/power-select}}
  {{/if}}
</div>
