{{#if (is-pending status)}}
  <div class="loading-spinner"></div>
{{/if}}
<a class="hero {{if (get (await status) 'enabled') 'red'}}" {{action 'toggle'}}>
  {{#if (get (await status) 'enabled')}}
  Disable
  {{else}}
    Enable
  {{/if}}
  for this repository
</a>
