{{#async-button
  reset=true
  class=(concat (if (get (await status) 'enabled') 'red') ' hero')
  action=(action 'toggle') as |component|}}
  {{#if (eq component.textState 'pending')}}
    <div class="loading-spinner"></div>
  {{else}}
    {{#if (get (await status) 'enabled')}}
    Disable
    {{else}}
      Enable
    {{/if}}
    for this repository
  {{/if}}
{{/async-button}}
