{{#async-button
  reset=true
  class=(concat (if (get (await status) 'enabled') 'red') ' hero')
  action=(action 'toggle') as |component|}}
  {{#if (eq component.textState 'pending')}}
    <div class="loading-spinner"></div>
  {{else}}
    {{#if (get (await status) 'enabled')}}
    Disable
    {{else}}
      Enable
    {{/if}}
    for this repository
  {{/if}}

  {{#if hasError}}
    {{#liquid-tether
      to='enable-repo'
      target=(concat '#' component.elementId)
      attachment='bottom center'}}
      <div class="tooltip warning">
        It didn't work as expected.
        Expect a fix very soon.
      </div> {{/liquid-tether}}
  {{/if}}
{{/async-button}}
