section.login {
  height: calc(100vh - #{$navigation-height});
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  > h3 {
    font-size: 1.1em;
    margin-bottom: 1.5em;
  }
  > a {
    @include rounded_hero;
  }
}

