@import "bourbon";
@import "neat";

@import "variables";

@import "base/base";

@import "ember-power-select";

@import "customs/spinner";
@import "customs/buttons";
@import "customs/rounded_hero";
@import "customs/ember-power-select";

@import "navigation";
@import "login";
// @import "footer";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  $inner-padding: 1em;
  @include outer-container;
  padding-top: $navigation-height;
  @include media($mobile) {
    padding-top: 0;
  }
  padding-left: $inner-padding;
  padding-right: $inner-padding;
}

.list + .list {
  padding-top: 0;
}

.repository-list,
.organization-list {
  @include row;
  padding: 4em 0;
  > h2 {
    text-align: center;
  }
  > .list {
    @include span-columns(4);
    @include shift(4);
  }
}
