@import "bourbon";
@import "neat";

@import "variables";

@import "base/base";

@import "customs/buttons";

@import "navigation";
@import "login";
// @import "footer";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include outer-container;
  padding-top: $navigation-height;
  @include media($mobile) {
    padding-top: 0;
  }

}
